.person{
    width: 138px;
    height: 251px;
    border-radius: 10px;
    overflow: hidden;
    background-color: rgba(139, 139, 139, 0.493);
    backdrop-filter: blur(4px);
    .person__text{
        padding: 5px 10px;
        h3{
            font: var(--font-small);
            margin-bottom: 5px;
        }
        p{
            font: var(--font-xs);
        }
    }
}