.login{
    background-size: cover;
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    &__content{
        border-radius: 10px;
        background-color: rgba(255, 255, 255, 0.281);
        backdrop-filter: blur(10px);
        height: 90%;
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        .login__items{
            // background: rebeccapurple;
            height: 550px;
            width: 90%;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            h1{
                font:var(--font-medium);
                text-align: left;
                width: 90%;
                margin-bottom: 10px;
                text-shadow: var(--box-shadow);
            }
            img{
                width: 183px;
                height: 221px;
                margin-bottom: 60px;
            }
            .btn__container{
                margin-top: 30px;
            }

        }
        

    }
}