:root{
    --color-primary: #2b7bed;
    --color-secondary:#000000;
    --color-accent:#27b1fa;
    --color-white:#fff;
    --color-gray:#a5adc3;

    --spacing-xs: 5px;
    --spacing-s: 10px;
    --spacing-m: 15px;
    --spacing-l: 20px;
    --spacing-xl: 20px;

    --box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);

    --transition-all: all .3s;
    --transition-time: .3s;

    
}